.container {
    display: flex;
    width: 90vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
  }

.heading{
  position: relative;
  align-self: start;
  width: 55vw;
  margin-left: 3vw;
  color: var(--gray);
  border-bottom: 3px solid var(--gray);
  margin-top: 30px;
}

.heading2{
  text-decoration: none;
  text-align: center;
  font-size: medium;
  font-weight: 600;
  position: absolute;
  top: 13%;
  right: 5%;
  background-color: darksalmon;
  border-radius: 25px;
  padding: 7px;
  width: fit-content;
  color: var(--gray);
}

.layers{
    margin-top: 3vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items:center;
    align-items: center;
    column-gap: 3vw;
    row-gap: 3vw;
}

.button{
  width: 15vw;
  height: 3vw;
  margin: 10px;
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.5vw;
  border-color: transparent;
  box-shadow: none;
  outline: none;
}